beautifulsoup4==4.6.0
matplotlib==2.2.2
boto==2.48.0
bz2file==0.98
chardet==3.0.4
Cython==0.27.3
graphviz==0.8.1
idna==2.6
nltk==3.4.5
numpy==1.13.3
protobuf==3.5.0.post1
requests==2.18.4
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
smart-open==1.5.3
urllib3==1.22
pandas==0.23.4
plotly==3.1.1
joblib==0.12.3
